/* Genel Sayfa Stili */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Menü Butonu */
.menu-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #45a049;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 3px;
}

.sidebar a:hover {
    background-color: #575757;
}

.hidden {
    transform: translateX(-100%);
}

/* Ana İçerik */
.main-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

/* Başlıklar */
h1 {
    font-size: 28px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    background-color: #e0f7fa;
    border: 2px solid #b2ebf2;
    border-radius: 5px;
    margin: 20px 0;
    transition: background-color 0.3s;
}

h1:hover {
    background-color: #b2ebf2;
}

h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

/* Form Stilleri */
form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="url"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

/* Menülerin Ortalanması */
.main-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Accordion Efekti */
h1 + div {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;;
}

h1.active + div {
    display: block;
}

