body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
}

.sidebar {
    width: 200px; /* Başlangıç genişliği */
    overflow: hidden; /* İçerik taşmasını gizler */
    transition: width 0.3s; /* Geçiş animasyonu */
    pointer-events: auto; /* Varsayılan olarak etkileşim sağlanır */
    background-color: #222;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar.hidden {
    width: 0; /* Gizlendiğinde genişlik sıfır */
    pointer-events: none; /* Etkileşimi kapatır */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 200px; /* Sidebar başlangıç genişliği */
    transition: margin-left 0.3s; /* Geçiş animasyonu */
    padding: 20px;
}

.menu-button {
    font-size: 18px;
    background: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    position: fixed; /* Buton sabit konumda kalır */
    top: 10px;
    left: 10px; /* Menü butonunun yeri */
    z-index: 1000; /* Menü ve içerik üzerinde görünür */
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #575757;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}