body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f9f9f9; /* Ferah açık bir renk */
    color: #333; /* Daha okunabilir bir koyu gri */
}

.sidebar {
    width: 250px; /* Biraz daha geniş bir sidebar */
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    pointer-events: auto;
    background-color: #ffffff; /* Ferah beyaz sidebar */
    color: #333; /* Metin için koyu ton */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Hafif bir gölge */
    border-right: 1px solid #e6e6e6; /* Ayrım için yumuşak bir çizgi */
}

.sidebar.hidden {
    width: 0;
    pointer-events: none;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px; /* Yuvarlatılmış köşeler */
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
}

.sidebar a:hover {
    background-color: #f0f0f0; /* Hover için açık gri */
    color: #0078d7; /* Pastel mavi ton */
}

.main-content {
    margin-left: 250px; /* Sidebar başlangıç genişliği */
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
}

.menu-button {
    font-size: 18px;
    background: #0078d7; /* Yumuşak mavi ton */
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 6px; /* Yuvarlatılmış köşeler */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
    background-color: #005fb3; /* Daha koyu mavi hover efekti */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; /* Beyaz header */
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 6px 6px; /* Alt köşelerde yuvarlatma */
}

