<!DOCTYPE html>


<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - İçerik Yönetim Paneli</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    

    <!-- 
    <link rel="stylesheet" type="text/css" href="{%static 'cmsContentsUpdateStyle.css' %}" >

    <script src="{% static 'js/contectMenuScripts.js' %}"></script>
    -->
</head>
<body>
    <button class="menu-button" onclick="toggleSidebar()">☰ Menü</button>

    <div class="sidebar hidden" id="mySidebar">
        <br>
        <br>
        <a href="{% url 'cmsDashboard' %}">Ana Sayfa</a>
        <a href="{% url 'cmsContentsUpdate' %}">İçerik Yönetim Paneli</a>
        <a href="#">İçerikleri Gösterme</a>
        
        <a href="#">Çıkış</a>
    </div>
    <div class="main-content">
        

        
        <div id="overlay"></div> <!-- Karartma arka planı -->


<div>
    <h1 class="section-title" onclick="toggleMenu('galleryMenu')">Otel Tasarımları Ekle</h1>
    <div class="hidden-content" id="galleryMenu">
        <form action="" method="POST"> {% csrf_token %}
            <label>Otel Adı:</label>
            <input type="text" id="fotoName" name="fotoName"><br>
            
            <label>Açıklama:</label>
            <textarea id="statementWeb" name="statementWeb" rows="4" cols="50" placeholder="Açıklama"></textarea>
            <br>
            <label>Resim Yükle:</label>
            <input type="file" id="fotoFile" name="fotoFile"><br>

            <label>Bir otel seçenek seçin:</label>
            <select id="optionWeb" name="optionWeb">
                <option value="1">Seçenek 1</option>
                <option value="2">Seçenek 2</option>
                <option value="3">Seçenek 3</option>
            </select>
            <br>

            <input type="hidden" name="formType" value="otelForm">

            <input type="submit" value="Submit">
            <input type="reset">
        </form>
    </div>
</div>

<div>
    <h1 class="section-title" onclick="toggleMenu('anaSayfaMenu')">Ana Sayfa</h1>
    <div class="hidden-content" id="anaSayfaMenu">
        <h3>Ana Sayfa Ortası</h3>
        <form action="" method="POST">{% csrf_token %}
            {% csrf_token %}
            <label>Ana Sayfa Başlık:</label>
            <input type="text" name="mainText"><br>
            <label>Açıklama:</label>
            <textarea id="statementWeb" name="mainDescText" rows="4" cols="50" placeholder="Açıklama"></textarea>

            <input type="hidden" name="formType" value="anaSayfaOrtaForm">

            <input type="submit" value="Submit">
            <input type="reset">
        </form> 
    </div>
</div>

<div>
    <h1 class="section-title" onclick="toggleMenu('anaSayfaFotoMenu')">Ana Sayfa Foto</h1>
    <div class="hidden-content" id="anaSayfaFotoMenu">
        <h3>Ana Sayfa Ortası Foto</h3>
        <form action="" method="POST"> {% csrf_token %}
            <label>Ana Sayfa için Resim Yükle:</label>
            <input type="file" name="anaSayfaFoto"><br>

            <input type="hidden" name="formType" value="anaSayfaFotoForm">

            <input type="submit" value="Submit">
            <input type="reset">
        </form>
    </div>
</div>

<div>
    <h1 class="section-title" onclick="toggleMenu('anaSayfaPersonelMenu')">Çalışanlar Ekle</h1>
    <div class="hidden-content" id="anaSayfaPersonelMenu">
        <form action="" method="POST"> {% csrf_token %}
        <label>Çalışan Adı:</label>
        <input type="text" name="personelName"><br>
        <label>Mevkisi:</label>
        <input type="text"><br>
        
        <label>Açıklama:</label>
        <textarea rows="4" cols="50" placeholder="Açıklama" name="personelDesc"></textarea>
        <br>
        <label>Kişinin Fotosu:</label>
        <input type="file" name="personelFoto"><br>
        
        <input type="hidden" name="formType" value="personelForm">

        <input type="submit" value="Submit">
        <input type="reset">
    </form>
    </div>
</div>

<div>
    <h1 class="section-title" onclick="toggleMenu('hakkimizdaMenu')">Hakkımızda</h1>

    <div class="hidden-content" id="hakkimizdaMenu">
        <h3>Hakımızda</h3>
        <form action="" method="POST"> {% csrf_token %}
            
                <label>Açıklama:</label>
                <textarea rows="4" cols="50" placeholder="Açıklama" name="aboutText"></textarea><br>
                <label>Kişinin Fotosu:</label>
                <input type="file" name="aboutFile"><br>

                <input type="hidden" name="formType" value="aboutForm">

                <input type="submit" value="Submit">
                <input type="reset">
        </form>
    </div>
</div>
      
<div>
    <h1 class="section-title" onclick="toggleMenu('referansMenu')">Referanslar</h1>
    <div class="hidden-content" id="referansMenu">
        <form action="" method="POST"> {% csrf_token %}
            <label>Adı</label>
            <input type="text" name="referansName"><br>
            <label>Referanslar URL(İsteğe Bağlı):</label>
            <input type="url" placeholder="https://" pattern="https://.*" size="40" required  name="referansUrl"/> <br>

            <input type="hidden" name="formType" value="referansForm">

            <input type="submit" value="Submit">
            <input type="reset">
        </form>
    </div>
    
</div>
<div>
    <h1 class="section-title" onclick="toggleMenu('servisMenu')">Servis</h1>
    <div class="hidden-content" id="servisMenu">
    <form action="" method="POST"> {% csrf_token %}
        <label>Adı:</label>
        <input type="text" name="serviceName"><br>
        <label>Foto:</label>
        <input type="file" name="serviceFoto"><br>
        <label>Açıklama:</label>
        <textarea id="statementWeb" name="serviceDesc" rows="4" cols="50" placeholder="Açıklama"></textarea>

        <input type="hidden" name="formType" value="aboutForm">

        <input type="submit" value="Submit">
        <input type="reset">
    </form>
</div>
</div>

<div>
    <h1 class="section-title" onclick="toggleMenu('contactMenu')">İletişim</h1>
    <div class="hidden-content" id="contactMenu">
        <h3>İletişim</h3>
        <form action="" method="POST"> {% csrf_token %}
            <label>Firmamızın Adı:</label>
            <input type="text" name="contactName"><br>
            <label>Adres:</label>
            <input type="text" name="contactAdress"><br>
            <label>Telefon:</label>
            <input type="tel" name="contactTel"><br>
            <label>Faks:</label>
            <input type="tel" name="contactFaks"><br>
            
            <input type="hidden" name="formType" value="contactForm">

            <input type="submit" value="Submit">
            <input type="reset">
        </form>
    </div>
</div>
<div>
        <h1 class="section-title" onclick="toggleMenu('mediaMenu')">Sosyal Medyalar</h1>
        <div class="hidden-content" id="mediaMenu">
            <form action="" method="POST"> {% csrf_token %}
                <label>İnstagram URL(İsteğe Bağlı):</label>
                <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required  name="contactİnst"/>
                <label>Linkened URL(İsteğe Bağlı):</label>
                <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required name="contactLinke"/>
                <label>Facebook URL(İsteğe Bağlı):</label>
                <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required name="contactFace"/>

                <input type="hidden" name="formType" value="contactForm">

                <input type="submit" value="Submit">
                <input type="reset">
            </form>
        </div>
        
</div>

    <script src="{% static 'js/hamburgerMenuScripts.js' %}"></script>
    <script src="{% static 'js/menuForm.js' %}"></script>
    
</body>
</html>