<!DOCTYPE html>


<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - İçerik Yönetim Paneli</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'cmsContentsUpdateStyle.css' %}" >
</head>
<body>
    <button class="menu-button" onclick="toggleSidebar()">☰ Menü</button>

    <div class="sidebar hidden" id="mySidebar">
        <br>
        <br>
        <a href="{% url 'cmsDashboard' %}">Ana Sayfa</a>
        <a href="{% url 'cmsContentsUpdate' %}">İçerik Yönetim Paneli</a>
        <a href="#">İçerikleri Gösterme</a>
        
        <a href="#">Çıkış</a>
    </div>
    <div class="main-content">
        
        <div>
            <h1>Ana Sayfa</h1>
        <div>
            <h3>Ana Sayfa Ortası</h3>
            <form>
                <label>Ana Sayfa Başlık:</label>
                <input type="text"><br>
                <label>Ana Sayfa için Resim Yükle:</label>
                <input type="file"><br>
                <input type="submit" value="Submit">
                <input type="reset">
            </form> 
        </div>
        
        <div>
            <h3>Ana Sayfa Kişiler Ekle</h3>
            <form>
                <label>Ana Sayfa Başlık:</label>
                <input type="text"><br>
                <label>Mevkisi:</label>
                <input type="text"><br>
                
                    <label>Açıklama:</label>
                    <textarea rows="4" cols="50" placeholder="Açıklama"></textarea>
                
                <label>Kişinin Fotosu:</label>
                <input type="file"><br>
    
                <input type="submit" value="Submit">
                <input type="reset">
            </form>
        </div>
        </div>
        
        <div>
            <h1>Hakkımızda</h1>

            <div>
                <h3>Hakımızda</h3>
                <form>
                    
                        <label>Açıklama:</label>
                        <textarea rows="4" cols="50" placeholder="Açıklama"></textarea><br>
                        <label>Kişinin Fotosu:</label>
                        <input type="file"><br>
                        <input type="submit" value="Submit">
                        <input type="reset">
                </form>
            </div>
            <div>
                <h3>Referanslar</h3>
                <form>
                    <label>Adı</label>
                    <input type="text"><br>
                    <label>Referanslar URL(İsteğe Bağlı):</label>
                    <input type="url" placeholder="https://" pattern="https://.*" size="40" required /> <br>
                    <input type="submit" value="Submit">
                    <input type="reset">
                </form>
            </div>
        </div>

        <div>
            <div>
                <h1>Galeri</h1>
            <form>
                <label>Otel Adı:</label>
                <input type="text" id="fotoName" name="fotoName"><br>
                
                <label>Açıklama:</label>
                <textarea id="statementWeb" name="statementWeb" rows="4" cols="50" placeholder="Açıklama"></textarea>
                
               
                <br>
                <label>Resim Yükle:</label>
                <input type="file" id="fotoFile" name="fotoFile"><br>
    
    
                <label>Bir otel seçenek seçin:</label>
                <select id="optionWeb" name="optionWeb">
                    <option value="1">Seçenek 1</option>
                    <option value="2">Seçenek 2</option>
                    <option value="3">Seçenek 3</option>
                </select>
                <br>
    
    
                <label>Bir seçenek2 seçin:</label>
                <select id="optionWeb" name="optionWeb">
                    <option value="1">Seçenek 1</option>
                    <option value="2">Seçenek 2</option>
                    <option value="3">Seçenek 3</option>
                </select>
                <br>
    
    
                <label for="website_url">Website URL(İsteğe Bağlı):</label>
                <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required />
                <br>
    
    
                <input type="submit" value="Submit">
                <input type="reset">
            </form>
            </div>
            
        </div>

        <div>
            <h1>Servis</h1>
            <div>
            <form>
                <label>Adı:</label>
                <input type="text"><br>
                <label>Foto:</label>
                <input type="file"><br>
                <label>Açıklama:</label>
                <textarea id="statementWeb" name="statementWeb" rows="4" cols="50" placeholder="Açıklama"></textarea>
                <input type="submit" value="Submit">
                <input type="reset">
            </form>
        </div>
    </div>
        <div>
            <h1>İletişim</h1>
            <div>
                <h3>İletişim</h3>
                <form>
                    <label>Firmamızın Adı:</label>
                    <input type="text"><br>
                    <label>Adres:</label>
                    <input type="text"><br>
                    <label>Telefon:</label>
                    <input type="tel"><br>
                    <label>Faks:</label>
                    <input type="tel"><br>
                </form>
            </div>
            <div>
                <h3>Sosyal Medyalar</h3>
                <form>
                    <label>İnstagram URL(İsteğe Bağlı):</label>
                    <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required />
                    <label>Linkened URL(İsteğe Bağlı):</label>
                    <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required />
                    <label>Facebook URL(İsteğe Bağlı):</label>
                    <input type="url" id="website_url" placeholder="https://"pattern="https://.*" size="40" required />
                </form>
            </div>
        </div>
        
    </div>

    <script src="{% static 'js/hamburgerMenuScripts.js' %}"></script>
    <script src="{% static 'js/contectMenuScripts.js' %}"></script>
    
</body>
</html>