<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - İçerik Yönetim Paneli</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styleUpdate.css' %}">
    

    <!-- 
    <link rel="stylesheet" type="text/css" href="{%static 'cmsContentsUpdateStyle.css' %}" >

    <script src="{% static 'js/contectMenuScripts.js' %}"></script>
    -->
</head>
<body>
    <button class="menu-button" onclick="toggleSidebar()">☰ Menü</button>

    <div class="sidebar hidden" id="mySidebar">
        <br>
        <br>
        <a href="{% url 'cmsDashboard' %}">Ana Sayfa</a>
        <a href="{% url 'cmsContentsUpdate' %}">İçerik Yönetim Paneli</a>
        <a href="{% url 'cmsStatus' %}">İçerikleri Gösterme</a>
        
        <a href="{% url 'logoutCMS' %}">Çıkış</a>
    </div>
    <div class="main-content">

        <div class="menu-container">
            <div class="menu-item" data-target="galleryMenu">
                <h1>Otel Tasarımları Ekle</h1>
            </div>
            <div id="galleryMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Otel Adı:</label>
                    <input type="text" id="fotoName" name="fotoName"><br>
                    
                    <label>Açıklama:</label>
                    <textarea id="statementWeb" name="statementWeb" rows="4" cols="50" placeholder="Açıklama"></textarea>
                    <br>
                    <label>Resim Yükle:</label>
                    <input type="file" id="fotoFile" name="fotoFile"><br>
        
                    <label>Bir otel seçenek seçin:</label>
                    <select id="optionWeb" name="optionWeb">
                        <option value="1">Seçenek 1</option>
                        <option value="2">Seçenek 2</option>
                        <option value="3">Seçenek 3</option>
                    </select>
                    <br>
        
                    <input type="hidden" name="formType" value="otelForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="anaSayfaMenu">
                <h1>Ana Sayfa</h1>
            </div>
            <div id="anaSayfaMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Ana Sayfa Başlık:</label>
                    <input type="text" name="mainText"><br>
                    <label>Açıklama:</label>
                    <textarea id="statementWeb" name="mainDescText" rows="4" cols="50" placeholder="Açıklama"></textarea>
                    
                    <input type="hidden" name="formType" value="homepageContentForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="anaSayfaFotoMenu">
                <h1>Ana Sayfa Foto</h1>
            </div>
            <div id="anaSayfaFotoMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Ana Sayfa için Resim Yükle:</label>
                    <input type="file" name="anaSayfaFoto"><br>
        
                    <input type="hidden" name="formType" value="homepageFotoForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="anaSayfaPersonelMenu">
                <h1>Çalışanlar Ekle</h1>
            </div>
            <div id="anaSayfaPersonelMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Çalışan Adı:</label>
                    <input type="text" name="personelName"><br>
                    <label>Mevkisi:</label>
                    <input type="text" name="personelPosition"><br>
                    
                    <label>Açıklama:</label>
                    <textarea rows="4" cols="50" placeholder="Açıklama" name="personelDesc"></textarea>
                    <br>
                    <label>Kişinin Fotosu:</label>
                    <input type="file" name="personelFoto"><br>
                    
                    <input type="hidden" name="formType" value="personnelForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="hakkimizdaMenu">
                <h1>Hakkımızda</h1>
            </div>
            <div id="hakkimizdaMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Açıklama:</label>
                    <textarea rows="4" cols="50" placeholder="Açıklama" name="aboutText"></textarea><br>
                    <label>Kişinin Fotosu:</label>
                    <input type="file" name="aboutFile"><br>
        
                    <input type="hidden" name="formType" value="aboutForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="referansMenu">
                <h1>Referanslar</h1>
            </div>
            <div id="referansMenu" class="form-container">
                <form action="" method="POST"> {% csrf_token %}
                    <label>Adı:</label>
                    <input type="text" name="referansName"><br>
                    <label>Referanslar URL (İsteğe Bağlı):</label>
                    <input type="url" placeholder="https://" pattern="https://.*" size="40" name="referansUrl"> <br>
        
                    <input type="hidden" name="formType" value="referenceForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="servisMenu">
                <h1>Servis</h1>
            </div>
            <div id="servisMenu" class="form-container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Adı:</label>
                    <input type="text" name="serviceName"><br>
                    <label>Foto:</label>
                    <input type="file" name="serviceFoto"><br>
                    <label>Açıklama:</label>
                    <textarea id="statementWeb" name="serviceDesc" rows="4" cols="50" placeholder="Açıklama"></textarea>
        
                    <input type="hidden" name="formType" value="serviceForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="contactMenu">
                <h1>İletişim</h1>
            </div>
            <div id="contactMenu" class="form-container">
                <form action="" method="POST"> {% csrf_token %}
                    <label>Firmamızın Adı:</label>
                    <input type="text" name="contactName"><br>
                    <label>Adres:</label>
                    <input type="text" name="contactAdress"><br>
                    <label>Telefon:</label>
                    <input type="tel" name="contactTel"><br>
                    <label>Faks:</label>
                    <input type="tel" name="contactFaks"><br>
                    
                    <input type="hidden" name="formType" value="contactForm">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        
            <div class="menu-item" data-target="mediaMenu">
                <h1>Sosyal Medyalar</h1>
            </div>
            <div id="mediaMenu" class="form-container">
                <form action="" method="POST"> {% csrf_token %}
                    <label>Instagram URL (İsteğe Bağlı):</label>
                    <input type="url" placeholder="https://" pattern="https://.*" size="40" name="contactİnst">
                    <label>LinkedIn URL (İsteğe Bağlı):</label>
                    <input type="url" placeholder="https://" pattern="https://.*" size="40" name="contactLinke">
                    <label>Facebook URL (İsteğe Bağlı):</label>
                    <input type="url" placeholder="https://" pattern="https://.*" size="40" name="contactFace">
        
                    <input type="hidden" name="formType" value="contactFormSocialMedia">
        
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        </div>

    <script src="{% static 'js/hamburgerMenuScripts.js' %}"></script>
    <script src="{% static 'js/menuForm.js' %}"></script>
    
</body>
</html>