<!DOCTYPE html>


<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - Ana Sayfa</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <style>
      

    </style>
</head>
<body>
    <button class="menu-button" onclick="toggleSidebar()">☰ Menü</button>

    <div class="sidebar hidden" id="mySidebar">
        <br>
        <br>
        <a href="{% url 'cmsDashboard' %}">Ana Sayfa</a>
        <a href="{% url 'cmsContentsUpdate' %}">İçerik Yönetim Paneli</a>
        <a href="#">İçerikleri Gösterme</a>
        
        <a href="#">Çıkış</a>
    </div>

    
    <div class="main-content">
        <h1 style="text-align: center;">CMS - Ana Sayfa</h1>
    </div>

    <script src="{% static 'js/hamburgerMenuScripts.js' %}"></script>
</body>
</html>